<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>IED project</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{static_url("styles/layout.css")}}">
    <link rel="stylesheet" type="text/css" href={{var}}>
</head>
<body>
<div class="row up1"></div>
<div class="row t1">
<div class="col-lg-2"></div>
<div class="col-lg-8 topbar">
    <h1 class="title">GPS Controlled UGV</h1>
</div>
<div class="col-lg-2"></div>
</div>
<div class="row cnt">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 content">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 mainco">

            {% block content %}{% end %}

        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row bottom">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 topbar"></div>
    <div class="col-lg-2"></div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>